In [ ]:
import pandas as pd

my_stat = pd.read_csv('/gdrive/My Drive/data/my_stat.csv')
my_stat

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
4     0  10.0  B -1.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[500 rows x 4 columns]

In [ ]:
subset_1 = my_stat.head(10).iloc[:, [0, 2]]
subset_2 = my_stat.drop([0, 4]).iloc[:, [1, 3]]
#10 first rows, columns 1 and 3; all rows but 1 and 5, columns 2 and 4

In [ ]:
#В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.
subset_1 = my_stat.loc[my_stat.V1 > 0].loc[my_stat.V3 == 'A']
#В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.
subset_2 = my_stat.query('V2 != 10 | V4 >= 1')

In [ ]:
#В этих данных (my_stat) создайте две новые переменных: 1) V5 = V1 + V4 2) V6 = натуральный логарифм переменной V2
import numpy as np
my_stat['V5'] = my_stat['V1'] + my_stat['V4']
my_stat['V6'] = np.log(my_stat['V2'])

In [ ]:
#Переименуйте колонки в данных
my_stat = my_stat.rename(columns = {'V1': 'session_value',
                          'V2': 'group',
                          'V3': 'time',
                          'V4': 'n_users'})
my_stat

     session_value  group time  n_users   V5        V6
0                2   13.0    B      1.0  3.0  2.564949
1               -1    7.0    B      1.0  0.0  1.945910
2                0   11.0    A      0.0  0.0  2.397895
3                2   11.0    A      2.0  4.0  2.397895
4                0   10.0    B     -1.0 -1.0  2.302585
..             ...    ...  ...      ...  ...       ...
495              1    8.0    A     -1.0  0.0  2.079442
496              3    8.0    A      1.0  4.0  2.079442
497             -1   11.0    B      2.0  1.0  2.397895
498              1   11.0    A      2.0  3.0  2.397895
499              0    8.0    B      1.0  1.0  2.079442

[500 rows x 6 columns]

In [ ]:
my_stat = pd.read_csv('/gdrive/My Drive/data/my_stat_1.csv')
# В переменной session_value замените все пропущенные значения на нули.
my_stat['session_value'] = my_stat['session_value'].fillna(value=0)
# В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).
my_stat.loc[my_stat.n_users < 0.0, 'n_users'] = my_stat.loc[my_stat.n_users >= 0, 'n_users'].median()
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5

In [ ]:
# Pассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс.
# Также переименуйте колонку со средним значением session_value в mean_session_value. Получившийся результат сохраните в dataframe с именем mean_session_value_data.
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'})
mean_session_value_data = mean_session_value_data.rename(columns = {'session_value': 'mean_session_value'})
mean_session_value_data

  group  mean_session_value
0     A                 0.8
1     B                 0.8